<input id='projet' placeholder="Projet"/>
<input id='revue' placeholder="Revue"/>
<input id='numero' placeholder="N° de l'action"/>
<input id='responsable' placeholder="Responsable"/>
<input id='cause' placeholder="Cause de l'action"/>
<input id='description' placeholder="Description de l'action"/>
<input id='dateObjectif' placeholder="Date objectif"/>
<input id='dateDebut' placeholder="Date de début"/>
<input id='dateMiseEnOeuvre' placeholder="Date de mise en oeuvre"/>
<input id='resultat' placeholder="Résultat de l'action"/>
<input id='dateCloture' placeholder="Date de clôture"/>

<button id='sauvegardeAction'>Sauvegarder</button>

<br/>

<table id='tableauDesActions'>
	<tr>
		<td>Projet</td><td>Revue</td><td>N° action</td><td>Responsable</td><td>Causes</td><td>Description</td><td>Date objectif</td><td>Date de début</td><td>Date de mise en oeuvre</td><td>Résultat de l'action</td><td>Date de clôture</td>
	</tr>
</table>

