<html>
	<head>
		<title>{{{title}}}</title>
		<link rel="stylesheet" href="/stylesheets/main.css"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				{{> menu}}
				{{{body}}}
			</div>
		</div>
		{{> footer}}
	</body>
	<script type="text/javascript" src="/javascripts/app.js" async="async"></script>
</html>