.tableauDesActions{
	border: 2px solid #A3B0B7;
	border-collapse:collapse;
	margin-bottom: 25px;
}
.tableauDesActions tr:first-child{
	text-align:center;
	background: #A3B0B7;
    color: white;
}
.tableauDesActions td{
	border-top: 1px solid #A3B0B7;
}